<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online budget tracker</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="main.js" defer></script>
</head>

<body>
    <div id="app">
        <header>
        
            <h1>Personal expense tracker</h1>
        
            <div class="totalSpent">{{ totalSpentFormatted }}</div>
        
        </header>
        <form @submit.prevent="addExpense">
            <input type="text" id="name" placeholder="Enter product" v-model="name" required>
            <input type="number" id="amount" placeholder="Enter cost" v-model="amount" required>
            <select name="category" id="category" v-model="category">
                <option v-for="item in categories">{{item}}</option>
            </select>
            <input type="date" id="date" v-model="date" required>
            <button type="submit">Add Expense</button>
        </form>
        
        <select name="monthToShow" id="monthToShow" v-model="monthToShow">
            <option v-for="(group,name) in getgroupOnMonth()">{{name}}</option>
        </select>
        
        <button @click="deleteByMonth()">Delete current month</button>
        <table class="expenses">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Cost</th>
                    <th>Category</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tr v-for="expense in getDataToShow()">
                <td>{{ expense.data.name }}</td>
                <td>{{ expense.data.amount }}</td>
                <td>{{ expense.data.category }}</td>
                <td>{{ expense.data.date }}</td>
                <td>
                    <button @click="deleteExpense(expense.index)">Delete</button>
                </td>
            </tr>
            </tbody>
        
        </table>
        
        
        <canvas id="pieCanvas" width="250" height="250"></canvas>
    </div>

</body>

</html>