body{
    margin: 0px;
}

ul {
    list-style-type: none;
    color: white;
}

h1,
form {
    text-align: center;
    color: white;
}

body {
    background-image: url("wallpaper.jpg");
    width: 100%;
}

#pictureList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-inline-start: 0px;
    grid-gap: 10px;
    padding: 10px;
    align-items: baseline;
}


#pictureList li img {
    width: 100%;

}

@media (max-width: 1000px)
{
#pictureList{
    grid-template-columns: repeat(3, 1fr);
}
}


@media (max-width: 800px)
{
#pictureList
{
    grid-template-columns: repeat(2, 1fr);
}
}


@media (max-width: 600px)
{
#pictureList
{
    grid-template-columns: repeat(1, 1fr);
}
}