body{
    margin: 0px;
}

ul {
    list-style-type: none;
    color: white;
}

h1,
form {
    text-align: center;
    color: white;
}

p{
    font-family: 'Oleo Script', cursive;
}
html{
    height: 100%;
}

body {
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    /*  no repeat visar en vit tom bakgrund när man gör smalare
        utan no repeat ser man bilden 2-3 gånger under varandra när det är smalare */
}

.tags{
    font-size: 20px;
}

.author{
    font-size: 16px;
}

#buttonDiv{
    text-align: center;
}

#pictureList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#pictureList img{
    width: 90%;
    height: 300px;
/* undvik % på höjder */
    object-fit: cover;
    background-size: cover;
}

@media (max-width: 1200px)
{
#pictureList{
    grid-template-columns: repeat(3, 1fr);
}
}

@media (max-width: 900px)
{
#pictureList
{
    grid-template-columns: repeat(2, 1fr);
}
}

@media (max-width: 600px)
{
#pictureList
{
    grid-template-columns: repeat(1, 1fr);
}
}
/* Style all inside pictureList since we append everything to it */
