h1 {
    font-size: 100px;
    font-weight: 100;
    color: rgba(175, 47, 47, 0.15);
    background-color:#f5f5f5 ;
    position: absolute;
    width: 500px;
    top: -10px;
}

p {
    font-size: 10px;
}

body {
    font:14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    background: #f5f5f5;
    display:grid;
    grid-template: "auto 1fr auto";
    justify-items: center;
}

#userInput {
    min-width: 450px;
    min-height: 50px;
    background-color: white;
    border: 2px solid #d1d3d4;
    /* border: none; funkar på todos exemple sida men inte här */
}

#tasks {
    font-size: 25px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.delete {
    margin-left: 10px;
    /* cursor: pointer; */
    height: 20px;
    width: 30px;
    background-color: white;
    border: none;
}

.checkbox {
    margin-right: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    grid-template-rows: 3, 1fr;
}

.todoFooter {
    position: relative;
    background-color: white;
    display: grid;
    grid-template: "a b c"/1fr auto 1fr;
    align-items: center;
    padding: 10px;
}

.todoFooter::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 20%),
        0 9px 0 -3px rgba(255, 255, 255),
        0 10px 0 -3px rgba(0, 0, 0, 20%),
        0 18px 0 -6px rgba(255, 255, 255),
        0 19px 0 -6px rgba(0, 0, 0, 20%);
    z-index: -1;

}

#tasks li button {
    visibility: hidden;
}

#tasks li:hover button {
    visibility: visible;
}

.toggleButton {
    border: none;
    background-color: white;
}

.sorting {
    display: flex;
    padding-left: 0;
    justify-content: center;
    grid-area: "b";
}

.sorting li button {
    margin-right: 10px;
  }
  

.app {
    max-width: 500px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    
    margin-top: 200px;
}

.itemsLeft {
    grid-area: "a";
    text-align: left;
}

.creds {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.task {
    display: grid;
    grid-template: "a b c" / auto 1fr auto;
    margin: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #ededed;
}

.task input {
    grid-area: "a";
    height: 20px;
    width: 20px;
}

.task span {
    grid-area: "b";
    text-align: left;
}

.task button {
    grid-area: "c";
}

#searchPart {
    display: grid;
    grid-template: "a b" /auto 1fr;
}


#searchPart button {
    grid-area: "a";
}

#searchPart input {
    grid-area: "b";
}

input[type="checkbox"] {
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #d1d3d4;
    outline: none;
    cursor: pointer;
    background-color: white;
}

/* Tog från deras hemsida men får inte checkmark och bli i mitten/ta över rutan
input[type="checkbox"]:checked {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
} */

input[type="checkbox"]:checked {
    background-color: #3f3f3f;
}


.completed {
    color: #d9d9d9;
    text-decoration: line-through;
  }

  button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  button:hover {
    text-decoration: underline;
  }